.cases__list {
    display: flex;
}

.cases__title {
    font-size: 64px;
    color: #FFFFFF;
    text-align: center;
    margin: 100px 0 25px;
}

.case__item {
    margin: 5px
}

.case__item:first-child {
    margin-left: 10px
}

.case__item:last-child {
    margin-right: 10px
}
