.cases__list {
    margin: 0 15%;
    text-align: center;
}

.cases__title {
    font-size: 64px;
    color: #CECCCC;
    text-align: center;
    margin: 25px 0 40px;
}

.case__item {
    display: inline-block;
    width: calc(50% - 30px);
    margin: 0 7.5px 20px;
}

.case__item img {
    width: 100%;
    height: auto;
}
