.form__body {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.form__title {
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #FDFDFE;
    margin-bottom: 25px;
}

.form__item {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 25px 0;
}

.form__item input, .form__item textarea {
    height: 60px;
    width: 100%;
    padding: 15px;
    font-size: 32px;
}

.form__item textarea {
    height: 160px;
}

.form__item label {
    position: absolute;
    top: 30px;
    left: 15px;
    font-size: 32px;
    transition: all .5s;
}

.form__item input:focus+label, .form__item textarea:focus+label {
    top: -40px;
    color: white;
    transition: all .5s;
}

.form__item.mensage {
    width: 100%;
}

.form__footer button {
    cursor: pointer;
    display: block;
    padding: 25px;
    color: black;
    font-size:32px;
    font-weight: bold;
    margin: 0 25% 30px;
    text-align: center;
    width: 50%;
    background: #FFD64F;
    position: relative;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.form__footer button:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #303541;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 9;
}

.form__footer button:hover:before {
    right: 0px;
}

.form__footer button:hover {
    opacity: .9;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
