.footer {
    border-top: 57px solid #303541;
}

.footer__copyright p {
    margin-top: 25px;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #FDFDFE;
    text-align: center;
}

.footer__mensage p {
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #000000;
    padding: 0 15%;
}

.footer__mensage {
    background: #FFD64F;
    height: 197px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social ul {
    display: flex;
    justify-content: space-evenly;
    margin: 38px 0;
}

li.footer__social-img {
    width: 50px;
    height: auto;
}

li.footer__social-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

li.footer__social-img img:hover {
    box-shadow: 0px 0 15px -4px white;
    background: white;
    transition: all 0.5s ease-out;
}
