.nav {
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    opacity: 0;
    transition: all 1s;
}

.nav a {
    text-decoration: none;
}

body.nav-open .nav {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0%;
    opacity: 1;
    transition: all 1s;
}

.nav__item {
    width: 100%;
    text-align: center;
    background-color: #165B81;
    padding: 32px 0;
    font-size: 32px;
    font-weight: bold;
    color: #f4f4f4;
    border-bottom: 1px solid #F4F6F4;
    font-weight: bold;
    color: #262626;
    transition: all .5s;
}

.nav__item:hover {
    opacity: .9;
    transition: all .5s;
}
