.nav {
    display: flex;
    width: 50%;
    /* margin-top: 25px; */
}

.nav a {
    text-decoration: none;
}

.nav__item {
    width: 100%;
    color: #FDFDFE;
    font-weight: bold;
    font-size: 24px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    /* font-family: 'Amatic SC', cursive; */
}

.nav__item span {
    position: relative;
}

.nav__item span:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    top: 32px;
    background: #FDFDFE;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 9;
}

.nav__item span:hover:before {
    right: 0px;
}
