@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";

.banner {
    display: flex;
    margin: 0 20%;
}
.banner__text h1 {
    font-weight: bold;
    line-height: normal;
    font-size: 48px;

    color: #FDFDFE;
}
.banner__text p {
    font-weight: bold;
    line-height: normal;
    font-size: 36px;

    color: #FDFDFE;
}

.slick-slider {
        margin: 60px 0 20px;
    position: relative;
    overflow: hidden;
}

.slick-list {
    overflow: visible;
}

.slick-list img {
    max-height: 400px;
}

.slick-center img {
}

button {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 0;
    outline: none;
}

.slick-prev {
    background-image: url('./img/button-arrow.png');
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 150px;
    cursor: pointer;
}

.slick-next {
    background-image: url('./img/button-arrow.png');
    transform: rotate(180deg);
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 9;
    left: 10px;
    top: 150px;
    cursor: pointer;
}

.slick-prev:hover {
    background-image: url('./img/button-arrow-hover.png');
}
.slick-next:hover {
    background-image: url('./img/button-arrow-hover.png');
}
